<section class="sign-in">
  <div class="container">
    <% if (local.message.success.length> 0) { %>
      <div class="alert alert-success" role="alert">
        <% local.message.success.forEach(function(message) { %>
          <%= message %><br>
            <% }); %>
      </div>
      <% } %>
    
        <% if (local.message.error.length> 0) { %>
          <div class="alert alert-danger" role="alert">
            <% local.message.error.forEach(function(message) { %>
              <%= message %><br>
                <% }); %>
          </div>
          <% } %>
    <div class="signin-content">
      <div class="signin-image">
        <figure><img src="/images/otp.jpg" alt="sign up image"></figure>
        <a href="/auth/forget" class="signup-image-link">Forget</a>
      </div>

      <div class="signin-form">
        <h2 class="form-title">
          <%= locals.title %>
        </h2>

        <% if (local.message.success.length> 0) { %>
          <div class="alert alert-success" role="alert">
            <% local.message.success.forEach(function(message) { %>
              <%= message %><br>
                <% }); %>
          </div>
          <% } %>

            <% if (local.message.error.length> 0) { %>
              <div class="alert alert-danger" role="alert">
                <% local.message.error.forEach(function(message) { %>
                  <%= message %><br>
                    <% }); %>
              </div>
              <% } %>

                <form method="POST" class="register-form" id="login-form" action="/auth/verify-otp">
                  <div class="form-group">
                    <label for="otp"><i class="zmdi zmdi-code"></i></label>
                    <input type="text" name="otp" id="otp" placeholder="Enter OTP" required />
                  </div>
                  <div class="form-group form-button">
                    <input type="submit" class="form-submit" value="Submit" />
                  </div>
                </form>
      </div>
    </div>
  </div>
</section>